nav{
    background-color: #1e2a3a;
    color:white;

    /* 네브바의 position을 sticky로 두고 top:0로 둔다면 상단에 고정된 nav바를 만들 수 있다. */
    position: sticky;
    top:0px;

    width:100%;
    height: 60px;

    padding:10px;
    z-index:5;
}

footer{
    /* body내를 기준으로 bottom에 붙여놔야하므로 absolute positon을 줍니다. */
    bottom:0;

    position: absolute;
    height: 50px;
    width:100%;
    background-color: #0c1118;
    color:white;
    padding:20px;
